<section class="b-universal b-universal_story black">
  <div class="container">
    <div class="row">
      <ul class="b-c b-c_b">
        <li class="b-c__item"><a href="" target="_blank">Home</a></li>
        <li class="b-c__item"><span>Mass Media</span></li>
      </ul>
      <div class="t-b">
        <h1>Our Story</h1>
      </div>
      <div class="stories owl-carousel">
        <div class="stories__i">
          <div class="stories__i-t">
            <h4>March 7, 1996</h4>
            <h5>Czech Republic</h5>
            <p>Ing. Lubos Zovinec (CEO), Jaroslav Veverka and Pavel Enderle founded M.B.A. Consulting s.r.o.in Prague, specializing on B2B debt collection (10 call center operators only)</p>
          </div>
          <div class="stories__i-w">
            <img src="" alt="Builging">
          </div>
        </div>
        <div class="stories__i">
          <div class="stories__i-t">
            <h4>March 7, 1996</h4>
            <h5>Czech Republic</h5>
            <p>Ing. Lubos Zovinec (CEO), Jaroslav Veverka and Pavel Enderle founded M.B.A. Consulting s.r.o.in Prague, specializing on B2B debt collection (10 call center operators only)</p>
          </div>
          <div class="stories__i-w">
            <img src="" alt="Builging">
          </div>
        </div>
        <div class="stories__i">
          <div class="stories__i-t">
            <h4>March 7, 1996</h4>
            <h5>Czech Republic</h5>
            <p>Ing. Lubos Zovinec (CEO), Jaroslav Veverka and Pavel Enderle founded M.B.A. Consulting s.r.o.in Prague, specializing on B2B debt collection (10 call center operators only)</p>
          </div>
          <div class="stories__i-w">
            <img src="" alt="Builging">
          </div>
        </div>
        <div class="stories__i">
          <div class="stories__i-t">
            <h4>March 7, 1996</h4>
            <h5>Czech Republic</h5>
            <p>Ing. Lubos Zovinec (CEO), Jaroslav Veverka and Pavel Enderle founded M.B.A. Consulting s.r.o.in Prague, specializing on B2B debt collection (10 call center operators only)</p>
          </div>
          <div class="stories__i-w">
            <img src="" alt="Builging">
          </div>
        </div>
        <div class="stories__i">
          <div class="stories__i-t">
            <h4>March 7, 1996</h4>
            <h5>Czech Republic</h5>
            <p>Ing. Lubos Zovinec (CEO), Jaroslav Veverka and Pavel Enderle founded M.B.A. Consulting s.r.o.in Prague, specializing on B2B debt collection (10 call center operators only)</p>
          </div>
          <div class="stories__i-w">
            <img src="" alt="Builging">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
