<section class="b-universal b-universal_mm black">
  <div class="container">
    <h3>our events</h3>
    <div class="row">
      <div class="evn">
        <div class="evn-a">
          <div class="env-a-t">
            <iframe src="https://www.youtube.com/embed/vO48t9YftTQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="env-a-t">
            <iframe src="https://www.youtube.com/embed/vO48t9YftTQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="env-a-t">
            <iframe src="https://www.youtube.com/embed/vO48t9YftTQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
        <p>Find out more videos about MBA Consult on our YouTube channel.</p>
        <a href="" class="b223">OUR youtube channel</a>
      </div>
    </div>
  </div>
</section>
