<section class="b-universal b-universal6 black">
  <div class="container">
    <div class="row">
      <ul class="b-c b-c_b">
        <li class="b-c__item"><a href="" target="_blank">Home</a></li>
        <li class="b-c__item"><span>Mass Media</span></li>
      </ul>
      <div class="t-b">
        <h1>Mass Media</h1>
        <p>MBA Consult adheres to the principle of openness to public. We are ready for the close cooperation with all interested media worldwide.</p>
        <h6><strong>Contact for any details or enquires</strong></h6>
      </div>
      <a href="" class="b223">Отправить заявку</a>
    </div>
  </div>
</section>