<section class="b-universal b-universal_mm black">
  <div class="container">
    <h3>our events</h3>
    <div class="row">
      <div class="evn">
        <div class="evn-a">
          <div class="env-a-t">
            <img src="img/evn.jpg" alt="Event">
            <time>30.08.2018</time>
            <h5>МЕЖДУНАРОДНЫЙ САММИТ MBA CONSULT В ТОКИО</h5>
            <a href="" class="b223">Подробнее</a>
          </div>
          <div class="env-a-t">
            <img src="img/evn.jpg" alt="Event">
            <time>30.08.2018</time>
            <h5>МЕЖДУНАРОДНЫЙ САММИТ MBA CONSULT В ТОКИО</h5>
            <a href="" class="b223">Подробнее</a>
          </div>
          <div class="env-a-t">
            <img src="img/evn.jpg" alt="Event">
            <time>30.08.2018</time>
            <h5>МЕЖДУНАРОДНЫЙ САММИТ MBA CONSULT В ТОКИО</h5>
            <a href="" class="b223">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>