<div class="news news_inner white">
  <div class="container">
    <h3>latest news</h3>
      <div class="news-c1">
        <div class="news__item">
          <div class="news__img-c">
            <a href="">
              <img src="img/img1.png" alt="Sign">
              <div class="t-i">
                <span class="b114">Прес-релиз</span>
                <h5>ООО "М.Б.А. Финансы" получила рекомендации от ООО МФК "МаниМен".</h5>
              </div>
            </a>
          </div>
          <div class="t-b">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
            <time>17.06.2018</time>
          </div>
        </div>
        <div class="news__item">
          <div class="news__img-c">
            <a href=""><img src="img/img2.png" alt="Sign"></a>
          </div>
          <div class="t-b">
            <span class="b114">Прес-релиз</span>
            <a href=""><h5>ООО "М.Б.А. Финансы" получила рекомендации от ООО МФК "МаниМен".</h5></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
            <time>17.06.2018</time>
          </div>
        </div>
        <div class="news__item">
          <div class="news__img-c">
            <a href=""><img src="img/img3.png" alt="Sign"></a>
          </div>
          <div class="t-b">
            <span class="b114">Прес-релиз</span>
            <a href=""><h5>ООО "М.Б.А. Финансы" получила рекомендации от ООО МФК "МаниМен".</h5></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
            <time>17.06.2018</time>
          </div>
        </div>
      </div>
  </div>
</div>