<section class="b-clients b-clients_con white">
  <div class="container">
    <div class="row">
      <ul class="b-c">
        <li class="b-c__item"><a href="" target="_blank">Home</a></li>
        <li class="b-c__item"><span>Clients</span></li>
      </ul>
      <h1>Contacts</h1>
      <div class="b-l">
        <div class="b-l__i">
          <div class="t-b">
            <p>39 ROBINSON ROAD<br>#11-01 ROBINSON POINT<br>SINGAPORE<br>068911</p>
            <a class="email" href="mailto:singapore@mbaempire.com">singapore@mbaempire.com</a>
            <a class="phone" href="tel:65-6750-4636">+65 6750 4636</a>
            <a class="phone" href="tel:65-8342-7288">+65 8342 7288</a>
          </div>
        </div>
        <div class="b-l__i">
          <div class="t-b">
            <p>4 Thomas More Square<br>Quadrant House<br>London, UK<br>E1W 1YW</p>
            <a class="email" href="mailto:london@mbaempire.com">london@mbaempire.com</a>
          </div>
        </div>
        <div class="b-l__i">
          <div class="t-b">
            <p>Graha Arda 5th Floor,<br>JI. HR Rasuna Said Kav B-6<br>Jakarta<br>12910</p>
            <a class="email" href="mailto:mbac@mbac.co.id">mbac@mbac.co.id</a>
            <a class="phone" href="tel:0215250027">(021) 525-0027</a>
          </div>
        </div>
        <div class="b-l__i">
          <div class="t-b">
            <p>BP-203 Bonaventure Plaza Building<br>Ortigas Ave.<br>Greenhills<br>San Juan<br>Philippines, Manila</p>
          </div>
        </div>
      </div>
      <h3>Форма связи</h3>
      <div class="form-tabs black">
        <ul class="form-tabs__list">
          <li><a href="">Для клиентов</a></li>
          <li><a href="">Для инвесторов</a></li>
          <li><a href="">Для должников и третьим лицам</a></li>
          <li><a href="">Для гос.органов</a></li>
          <li><a href="">СМИ</a></li>
        </ul>
        <div class="form-tabs__forms">
          <h4>Персональная информация</h4>
          <form action="">
            <div class="form-tabs__wrap">
              <input type="text" placeholder="Ваше Имя*" name="name">
              <input type="text" placeholder="Индекс*" name="index">
              <input type="text" placeholder="Страна*" name="country">
              <input type="text" placeholder="Город*" name="city">
              <input type="text" placeholder="Улица*" name="street">
              <input type="text" placeholder="Дом*" name="house">
              <input type="text" placeholder="Квартира*" name="apartment">
            </div>
            <h4>Контактная информация</h4>
            <div class="form-tabs__wrap">
              <input type="phone" placeholder="Мобильный телефон*" name="mob-phone">
              <input type="phone" placeholder="Городской телефон*" name="home-phone">
              <input type="email" placeholder="Ваш Email*" name="email">
            </div>
            <h4>Обращение</h4>
            <div class="form-tabs__wrap">
              <input type="text" placeholder="Номер договора*" name="contract number">
              <textarea name="message" placeholder="Сообщение*"></textarea>
            </div>
            <div class="form-tabs__wrap">
              <div>
                <label class="lb">
                  <input type="checkbox" name="checkbox">
                </label>
                <span>Я согласен с условиями</span>
                <a href="">обработки персональных данных</a>
              </div>
              <a href="" class="b312">Отправить</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>