<div class="globe-wrapper">
	<div class="globe-container">
		<div id="globe" style="opacity: 1;">
		</div>
		<div id="markers" style="margin-top: 35.5px;">
	  <span class="popup" style="left: 35px;">
		<span class="inner">
		  <a href="#" class="close"></a>
		  <p>
			<span class="title">
			  <span style="color:#FFFFFF;">Бутлерова улица, д. 7 &nbsp;(MMTS-9) </span>
			</span>
		  </p>
		  <p>
			<span style="color:#FFFFFF;">
			  <span class="title">Боровая улица, д. 7, стр. 10 (Dataline)</span>
			</span>
		  </p>
		  <p>
			<span style="color:#FFFFFF;">
			  <span class="title">Нижегородская улица, д. 32, стр. А&nbsp;(StoreData)</span>
			</span>
		  </p>
		  <span class="descRow">
			<span class="subTitle">VPN</span>100 Мбит/с – 10 Гбит/с
		  </span>
		  <span class="descRow">
			<span class="subTitle">Интернет</span>100 Мбит/с – 10 Гбит/с
		  </span>
		</span>
	  </span>
	  <span class="popup" style="left: 35px;">
		<span class="inner">
		  <a href="#" class="close"></a>
		  <span class="title">Боровая улица, д. 57<br>Большая Морская улица, д. 18<br>Кантемировская улица, д. 12<br>Цветочная улица, д.&nbsp;21<br>Репищева, д. 20А (DC Linx)</span>
		  <span class="descRow">
			<span class="subTitle">VPN</span>100 Мбит/с – 10 Гбит/с
		  </span>
		  <span class="descRow">
			<span class="subTitle">Интернет</span>100 Мбит/с – 10 Гбит/с
		  </span>
		</span>
	  </span>
	  <span class="popup" style="left: 35px;">
		<span class="inner">
		  <a href="#" class="close"></a>
		  <span class="title">Tekniikantie 14, Espoo (Technopolis)<br>Radiokatu 5 (Digita)
			<span class="descRow">
			  <span class="subTitle">VPN</span>100 Мбит/с – 10 Гбит/с
			</span>
			<span class="descRow">
			  <span class="subTitle">Интернет</span>100 Мбит/с – 10 Гбит/с
			</span>
		  </span>
		</span>
	  </span>
	  <span class="popup" style="left: 35px;">
		<span class="inner">
		  <a href="#" class="close"></a>
		  <span class="title">Mariehallsvagen 36 (Equinix SK1 (formerly Telecity Bromma))</span>
		  <span class="descRow">
			<span class="subTitle">VPN</span>100 Мбит/с – 10 Гбит/с
		  </span>
		  <span class="descRow">
			<span class="subTitle">Интернет</span>100 Мбит/с – 10 Гбит/с
		  </span>
		  <span class="descRow">
			<span class="subTitle">Каналы связи</span>до 100 Гбит/с
		  </span>
		</span>
	  </span>
	  <span class="popup" style="left: 35px;">
		<span class="inner">
		  <a href="#" class="close"></a>
		  <span class="title">Schepenbergweg 42 (Equinix AM5)<br>Science Park 105 (Nikhef) </span>
		  <span class="descRow">
			<span class="subTitle">VPN</span>100 Мбит/с – 10 Гбит/с
		  </span>
		  <span class="descRow">
			<span class="subTitle">Интернет</span>100 Мбит/с – 10 Гбит/с
		  </span>
		</span>
	  </span>
	  <span class="popup" style="left: 35px;">
		<span class="inner">
		  <a href="#" class="close"></a>
		  <span class="title">FRA-1 Hanauer Landstrasse 322 (DE-CIX)</span>
		  <span class="descRow">
			<span class="subTitle">VPN</span>100 Мбит/с – 10 Гбит/с
		  </span>
		  <span class="descRow">
			<span class="subTitle">Интернет</span>100 Мбит/с – 10 Гбит/с
		  </span>
		</span>
	  </span>
	  <span class="popup" style="left: 35px;">
		<span class="inner">
		  <a href="#" class="close"></a>
		  <span class="title">Saint Denis 114 Ambroise<br>Croizat (Equinix)</span>
		  <span class="descRow">
			<span class="subTitle">VPN</span>100 Мбит/с – 10 Гбит/с
		  </span>
		  <span class="descRow">
			<span class="subTitle">Интернет</span>100 Мбит/с – 10 Гбит/с
		  </span>
		</span>
	  </span>
	  <span class="popup" style="left: 35px;">
		<span class="inner">
		  <a href="#" class="close"></a>
		  <span class="title">134-138 Borough High St. (LINX)</span>
		  <span class="descRow">
			<span class="subTitle">VPN</span>100 Мбит/с – 10 Гбит/с
		  </span>
		  <span class="descRow">
			<span class="subTitle">Интернет</span>100 Мбит/с – 10 Гбит/с
		  </span>
		</span>
	  </span>
	  <span class="popup" style="left: 35px;">
		<span class="inner">
		  <a href="#" class="close"></a>
		  <span class="title">60 Hudson Street&nbsp; (Telehouse)</span>
		  <span class="descRow">
			<span class="subTitle">VPN</span>100 Мбит/с – 10 Гбит/с
		  </span>
		  <span class="descRow">
			<span class="subTitle">Интернет</span>100 Мбит/с – 10 Гбит/с
		  </span>
		</span>
	  </span>
		</div>
	</div>
</div>
