@media screen and (max-width: 1790px)
	.b-our-goals__list
		overflow-x: scroll

@media screen and (max-width: 1366px)
	#fp-nav.fp-right
		right: 25px

@media screen and (max-width: 1280px)
	.b-global-synergy
		overflow: hidden
		.t-b
			h6
				&:before
					left: 0
				&:after
					right: -10px

	.clients
		.img-cont
			height: 450px
			&__item
				&:first-child
					max-width: 400px
					height: 450px
				&:nth-child(2)
					max-width: 300px
					height: 370px
				&:nth-child(3)
					max-width: 200px
					height: 300px

	.values
		h2
			font-size: 30px
			line-height: 30px
			margin-bottom: 40px
		.col
			&:not(:last-child)
				margin-bottom: 40px
		.title-bg
			top: 140px

	.hands
		p
			font-size: 24px

	.b-y
		&__i
			&:before
				left: 0 !important

	.b-resp
		justify-content: space-around
		&__i
			&:not(:last-child)
				margin-bottom: 40px

@media screen and (max-width: 1140px)
	.header
		&__row
			align-items: center
		.nav
			display: none
		.m-menu
			display: flex
		.lang
			padding: 0
			&__hidden
				top: 65px

	.t-l
		&__i
			flex: 0 0 100%

	.b-global-synergy
		.t-b
			max-width: none
			.img-c, .img-c-t
				display: none

	.b-point
		&__item
			padding: 0
		&-sub
			&__item
				&:not(:last-child)
					margin-bottom: 30px

	.b-choose-us
		.b-l
			&__i
				&_a
					max-width: none
					position: relative
					bottom: auto
					right: auto

@media screen and (max-width: 1024px)
	.b-principles
		.b-l
			&__i
				&:after
					display: none !important

	.b-cap
		&-img
			display: none
		&-t
			margin: 0
			flex: 0 1 auto

	.o-evn
		&-i, &-t
			flex: 0 0 100%
		.t-b
			p
				max-width: none

	.o-date
		flex-flow: column nowrap
		div, a
			margin: 0 0 20px

	.b-p
		margin-bottom: 50px

	.b-footer
		&__list
			li:first-child
				margin-bottom: 20px
				a
					font-size: 12px
			li:not(:last-child)
			a
				font-size: 10px

@media screen and (max-width: 992px)
	.b-choose-us
		.b-l
			&__i
				flex: 0 0 50%

	.b-clients-img
		.b-l
			&__i
				flex: 0 1 25%

@media screen and (max-width: 960px)
	.b-interaction, .b-choose-us, .b-principles, .b-head-office, .b-gallery, .b-clients-img, .b-ethics, .b-atten, .b-investments, .b-global-synergy, .b-inv-team, .b-principles2, .b-recommend, .b-debt, .b-investments, .b-penalty, .b-work, .b-phy, .b-why
		padding: 80px 0

	.b-clients, .b-universal
		padding-bottom: 80px

	.b-principles
		h5
			font-size: 19px
		.b-l
			&__i
				flex: 0 1 50%
				&:not(:last-child)
					margin-bottom: 25px
				.t-b
					max-width: none
					padding-right: 30px

	.b-p
		li
			flex: 0 0 100%
			&:not(:last-child):after
				display: none
			&:not(:last-child)
				margin-bottom: 25px
		div
			width: 100%
		h4
			height: auto
			margin-bottom: 15px

	.b-d
		&__i
			flex: 0 0 100%
		p
			max-width: none

	.b-pen
		&__i
			flex: 0 0 100%
			&:not(:last-child)
				margin-bottom: 30px
			p, h3
				max-width: none !important
			h3
				margin-bottom: 30px
				font-size: 20px
				&:after
					bottom: -15px

	.b-tabs__cont
		div
			&:before
				left: 0

	.b-inv-team
		.img-c
			flex-flow: row wrap
			justify-content: space-around
			margin-bottom: 40px
			&__i
				&:not(:last-child)
					margin-bottom: 35px

@media screen and (max-width: 767px)
	h1
		font-size: 48px
		line-height: 48px
	h2
		font-size: 36px
		line-height: 36px

	.b-clients-img
		.b-l
			&__i
				flex: 0 1 33%

	.b-choose-us
		.b-l
			&__i
				flex: 0 0 100%
		.t-b
			max-width: none

	.b-interaction
		.info-b
			flex-flow: row wrap
			&__c1
				flex: 0 0 100%
			&__c2
				flex: 0 1 353px
				margin-bottom: 20px
			&:nth-of-type(2n+1)
				.info-b__c2
					order: -1

	.b-t-a
		&__i
			&:first-child, &:nth-child(2)
				flex: 0 0 100%
			&:first-child
				margin-bottom: 50px

	.b-l-c
		&__i
			padding-left: 0
			&:before
				top: -40px
			&:after
				display: none

	.b-principles
		.b-l
			&__i
				flex: 0 0 100%
			.t-b
				padding: 0

	.b-w
		&__item
			&:not(:last-child)
				margin-bottom: 50px

	.evn
		&-nav
			position: static
			margin-bottom: 20px
		.env-a-t
			flex-shrink: 1
		&-t-a
			left: 20px
			bottom: 20px
			h3
				font-size: 16px
			time
				font-size: 16px

	.tabs
		flex-flow: row wrap
		&__l, &__i
			flex: 0 1 100%
		&__l
			display: flex
			flex-flow: row nowrap
			overflow-x: scroll
			margin-bottom: 20px
		li
			&:not(:last-child)
				margin: 0 15px 10px 0 !important
		a.active
			font-size: 16px
			&:after
				display: none

	.b-phy
		h2
			margin-bottom: 30px
		.t-b
			p
				&:last-of-type
					margin-bottom: 70px

	.b-point
		&__item
			&:first-child
				& > p
					margin-bottom: 50px
			&:not(:last-child)
				margin-bottom: 60px
		&-sub
			&__item
				p
					&:before
						top: -10px

	.b-footer
		.b-l
			flex-flow: row wrap
			&:first-child
				justify-content: flex-start
				.b-l__i
					flex: 0 0 25%
					&:not(:last-child)
						margin-bottom: 25px


@media screen and (max-width: 599px)
	h1
		font-size: 34px
		line-height: 34px
	h2
		font-size: 22px
		line-height: 22px
	h3
		font-size: 20px
		line-height: 20px
	h4
		font-size: 18px
		line-height: 18px
	h5
		font-size: 16px
		line-height: 16px

	.b-clients
		h1
			margin-bottom: 45px
		p
			font: 15px/30px Montserrat
		.t-b
			margin-bottom: 40px
		&_deb
			.b-b
				flex-flow: column nowrap
				a:first-child
					margin: 0 0 25px 0
		&_thi
			h3
				font-size: 20px
				line-height: 20px

	.b-our-clients
		.t-b
			margin-bottom: 45px

	.b-interaction
		h2
			margin-bottom: 30px
		.info-b
			&:not(:last-child)
				margin-bottom: 30px
		.t-b
			margin-bottom: 30px
			h3
				margin-bottom: 40px
			h5
				font-size: 18px
			p
				font-size: 14px
				line-height: 25px
		&2
			ul
				font-size: 14px
				margin-bottom: 0

	.o-date
		padding: 20px 0 0 20px
		margin-bottom: 0

	.b-principles2
		.t-b
			margin-bottom: 50px
			p
				font-size: 16px
				line-height: 25px

	.b-choose-us
		.row
			& > h2
				margin-bottom: 30px
		.b-l
			h2
				font-size: 36px
				line-height: 36px
			&__i
				&:not(:last-child)
					margin-bottom: 30px
		&2
			.row > h4
				margin-bottom: 30px

	.b-work
		h2
			margin-bottom: 45px

	.b-tabs
		align-self: auto
		&__nav
			margin-bottom: 50px
			overflow-x: scroll
			flex-flow: row nowrap
			li
				&:not(:last-child)
					margin-right: 25px

	.b-clients-img
		.b-l
			&__i
				flex: 0 0 50%

	.b-our-team
		.t-b
			margin-bottom: 40px
			h1
				margin-bottom: 45px
			p
				font-size: 18px
				line-height: 25px
		.t-l
			&__i
				margin-bottom: 30px
			img
				display: none

	.tabs
		&__i
			&-item
				flex: 0 1 50%

	.b-principles
		h2
			margin-bottom: 30px
		h5
			font-size: 16px
			margin-bottom: 25px
		.t-b
			h4
				height: auto

	.b-head-office
		.b-l
			&__i
				&:first-child
					margin-bottom: 50px

	.b-universal
		&5
			a
				&:first-of-type
					margin-bottom: 50px
			h3
				margin-bottom: 70px
			.b-l-c
				margin-bottom: 50px
				p
					&:first-child
						font-size: 18px

	.b-cap-t
		h3
			font-size: 20px

	.b-atten
		h2
			margin-bottom: 30px

	.b-d
		h4
			height: auto

	.b-t-a
		&__i
			&:first-child
				margin-bottom: 35px
				p
					&:nth-child(2)
						margin-bottom: 30px

	.t-l
		&__i
			margin: 0
			&:not(:last-child)
				margin-bottom: 50px
			img
				display: none
		&__c
			max-width: none

	.b-footer
		.b-l
			&:first-child
				.b-l__i
					flex: 0 0 33%
					&:not(:last-child)
						margin-bottom: 25px

@media screen and (max-width: 480px)
	.b-interaction, .b-choose-us, .b-principles, .b-head-office, .b-gallery, .b-clients-img, .b-ethics, .b-atten, .b-investments, .b-global-synergy, .b-inv-team, .b-principles2, .b-recommend, .b-debt, .b-investments, .b-penalty, .b-work, .b-phy, .b-why
		padding: 50px 0

	.b-our-team
		&2
			.t-l
				&__i
					flex-shrink: 1

	.tabs
		&__i
			&-item
				flex: 0 1 100%
				margin-bottom: 30px
			.i-w
				margin-bottom: 15px

	.evn
		&-t-a
			position: static
			color: #000

	.b-footer
		.b-l
			&:first-child
				.b-l__i
					flex: 0 0 50%
					&:not(:last-child)
						margin-bottom: 25px

@media screen and (max-width: 400px)
	.b-clients-img
		.b-l
			&__i
				flex: 0 0 100%