@import "libs"



*
	box-sizing: border-box

a
	text-decoration: none

.b
	color: #000

.w
	color: #fff

.container
	max-width: 1170px
	padding: 0 15px
	margin: 0 auto

.row
	display: flex

h2
	font: 700 48px Montserrat
	text-transform: uppercase
	letter-spacing: 1.2px
	position: relative

h4
	font: 700 24px Montserrat
	text-transform: uppercase
	letter-spacing: 0.6px

.b
	width: 224px
	height: 54px
	text-align: center
	display: inline-block
	border: 2px solid #fff
	border-image: linear-gradient(to left, #04c3f6 0%, #006eff 100%) 1
	text-decoration: none
	color: #fff
	font: 700 12px/50px Montserrat
	text-transform: uppercase
	letter-spacing: 1.2px
	&114
		width: 114px
		height: 32px
		border: 2px solid #fff
		border-image: linear-gradient(to left, #04c3f6 0%, #006eff 100%) 1
		display: flex
		justify-content: center
		align-items: center
		color: #fff
		font: 400 9px/24px Montserrat
		text-transform: uppercase
		letter-spacing: 1.8px
	&459
		width: 459px
		height: 82px
		background-color: #fff
		display: flex
		flex-flow: row
		align-items: center
		justify-content: center
		color: #333
		font: 700 13px Montserrat
		text-transform: uppercase
		letter-spacing: 1.3px
		position: absolute
		left: 0
		bottom: 0

.header
	position: fixed
	top: 0
	left: 50%
	transform: translate(-50%, 0)
	max-width: 1830px
	width: 100%
	z-index: 1
	padding-top: 20px
	&__container
		padding: 0 15px
	&__row
		display: flex
	.nav
		padding-top: 30px
		margin-left: auto
		margin-right: 50px
		max-width: 810px
		width: 100%
		&__l
			display: flex
			flex-flow: column nowrap
			position: relative
			&:after
				content: ''
				display: block
				position: absolute
				width: 100%
				height: 5px
				background-color: #64c8ff
				background-image: linear-gradient(to right, #4b0096 0%, #64c8ff 33%, #64dc95 66%, #0097dc 99%, #0097dc 100%)
				top: 50%
				transform: translate(0, -50%)
		&__i1
			margin-left: auto
			margin-bottom: 37px
			display: flex
			flex-flow: row nowrap
			justify-content: space-between
			max-width: 415px
			width: 100%
			a
				color: #fff
				font: 400 13px Montserrat
				opacity: .7
		&__i2
		&__sub-l
			display: flex
			flex-flow: row nowrap
			justify-content: space-between
			li
				position: relative
				a
					color: #fff
					font: 700 15px Montserrat
					letter-spacing: .75px
					text-transform: uppercase
					padding-bottom: 35px
					&:hover ~ .nav__sub-h
						height: 272px
						opacity: 1
				.nav__sub-h
					overflow: hidden
					opacity: 0
					position: absolute
					width: 164px
					height: 0
					background-color: #420387
					top: 33px
					padding: 20px 0 25px 20px
					display: flex
					flex-flow: column nowrap
					justify-content: space-between
					transition: all .5s
					&:hover
						height: 272px
						opacity: 1
					a
						color: #fff
						font: 400 13px Montserrat
						text-transform: uppercase
						letter-spacing: 0.65px

#fp-nav
	&.fp-right
		right: 75px
	ul
		height: 292px
		display: flex
		flex-flow: column nowrap
		justify-content: space-between
		li
			margin: 0
	a.active
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 2px
		height: 80px
		background-color: #fff
	a.active span
		display: none
	span
		border-radius: 0 !important
		background: #fff !important
		width: 2px	!important
		height: 2px !important

.section
	position: relative

.video
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	background-size: 100%
	background-position: center
	object-fit: cover
	z-index: -1

.title-bg
	position: absolute
	opacity: 0.1
	color: #03bef1
	font: 700 200px Montserrat
	text-transform: uppercase
	letter-spacing: 10px
	user-select: none

.mba
	h1
		font: 700 120px/110px Montserrat
		letter-spacing: 6px
		text-transform: uppercase
		margin-bottom: 80px
		position: relative
		&:before
			content: ''
			position: absolute
			display: block
			width: 88px
			height: 5px
			background-color: #64c8ff
			background-image: linear-gradient(to right, #4b0096 0%, #64c8ff 100%)
			bottom: -40px
	p
		font: 400 30px Montserrat
		letter-spacing: 1px
	.col
		flex: 0 0 638px

.clients
	background: url('../img/clients.png') no-repeat center #060d1c
	position: relative
	z-index: 2
	h2
		margin-bottom: 25px
	.t-b
		p
			font: 400 14px/30px Montserrat
			margin-bottom: 90px
	.row
		flex-flow: row nowrap
		align-items: center
	.col1
		flex: 0 0 390px
		margin-right: 77px
	.col2
		flex: 0 0 458px
	.img-cont
		position: relative
		height: 525px
		&__item
			position: absolute
			img
				height: 100%
				width: 100%
				filter: grayscale(100%)
				transition: all 1s
			&:nth-child(1)
				z-index: 3
			&:nth-child(2)
				z-index: 2
				top: 40px
				left: 210px
				width: 395px
				height: 451px
			&:nth-child(3)
				z-index: 1
				height: 376px
				width: 328px
				top: 77px
				left: 396px
			&:hover img
				filter: grayscale(0)

.values
	position: relative
	background: #060d1c
	.title-bg
		top: 80px
		left: 50%
		transform: translate(-50%, 0)
	h2
		margin-bottom: 65px
		&:after
			content: ''
			display: block
			position: absolute
			bottom: -23px
			left: 0
			width: 88px
			height: 5px
			background-color: #64c8ff
			background-image: linear-gradient(to right, #4b0096 0%, #64c8ff 100%)
	.row
		flex-flow: row wrap
		justify-content: space-between
	.col
		flex: 0 0 490px
		&:not(:last-child)
			margin-bottom: 65px
	p
		font: 400 14px/25px Montserrat

.hands
	background: url('../img/hands.png') no-repeat 0 75% #060d1c
	.row
		flex-flow: row wrap
		justify-content: flex-end
	.col
		flex: 0 0 651px
	.t-b
		position: relative
		&:before, &:after
			position: absolute
			display: block
			opacity: 0.3
			color: #ffffff
			font: 100 350px/.4 Montserrat
			text-transform: uppercase
			letter-spacing: 35px
		&:before
			content: '«'
			top: -75px
			left: -160px
		&:after
			content: '»'
			bottom: -20px
			right: -50px
	p
		font: 400 30px/48px Montserrat
		text-transform: uppercase

.news
	background: url('../img/newsbg.png') no-repeat center right #060e1d
	.row
		flex-flow: row nowrap
		justify-content: space-around
	.t-b
		a
			margin: 18px 0 25px
		h5
			font: 700 15px/30px Montserrat
			text-transform: uppercase
			letter-spacing: 0.38px
			margin-bottom: 20px
		p
			font: 400 14px/30px Montserrat
			margin-bottom: 27px
		time
			opacity: 0.5
			font: 400 13px Montserrat
			text-transform: uppercase
			letter-spacing: 1.3px
	&__c1
		flex: 0 0 557px
		.t-b
			padding: 25px 45px 0 30px
			p
				margin-bottom: 30px
	&__c2
		flex: 0 0 555px
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		.news__item
			flex: 0 0 265px
	&__img-c
		position: relative
		img
			width: 100%
			height: 100%
		.t-i
			padding: 0 35px 0 30px
			bottom: 35px
			position: absolute
			h5
				font: 700 15px/30px Montserrat
				text-transform: uppercase
				letter-spacing: 0.38px
			a
				margin-bottom: 10px

.geo
	background: url('../img/geo.png') no-repeat center
	h4
		margin-bottom: 30px
	.row
		position: relative
	.col
		position: absolute
		left: 0
		bottom: -293px
		width: 258px
	p
		font: 400 14px/30px Montserrat
		letter-spacing: -.1px



@import "media"
