<section class="clients">
  <div class="container1170">
    <div class="row no-gutters">
			<ul class="nav col-12">
				<li class="nav__item"><a href="#" class="nav__breadcrumb">Home</a></li>
				<li class="nav__item"><a href="#" class="nav__breadcrumb">Clients</a></li>
			</ul>
      <div class="text-block text-block_s-clients_mb h1-w h1_s-client_mb t24-48-w t24-48_s-client_mb">
        <h1>Clients</h1>
        <p>Возвращаем деньги по агентской схеме.</p>
        <p>Покупаем долговые портфели.</p>
        <p>Интегрируем IT-продукты и решения нового поколения.</p>
        <p>Возвращаем самих должников в качестве добропорядочных заёмщиков.</p>
      </div>
      <div class="col-12">
        <a href="#" class="b b_w_221">Подробнее</a>
      </div>
    </div>
  </div>
</section>