<div class="contacts" id="fp-7">
  <div class="container1170 nlr">
    <div class="text-block h2-w h2_s-contacts_mb">
      <h2>Head Office</h2>
    </div>
    <ul>
      <li>39 ROBINSON ROAD<br>#11-01 ROBINSON POINT<br>SINGAPORE <br>068911<br><br><strong>+65 6750 4636</strong><br><strong>+65 8342 7288</strong><br><a href="mailto:singapore@mbaempire.com">singapore@mbaempire.com</a></li>
      <li>Quadrant House<br>4 Thomas More Square<br>London E1W 1YW<br>UK<br><br><strong>+65 6750 4636</strong><br><strong>+65 8342 7288</strong><br><a href="mailto:singapore@mbaempire.com">london@mbaempire.com</a></li>
    </ul>
  </div>
</div>
