<section class="ethics">
    <div class="container1170">
      <div class="row no-gutters">
        <div class="h2-b h2_s-ethics_mb col-12">
          <h2>КОДЕКС ЭтикИ</h2>
        </div>
        <div class="t14-30-b t14-30_s-opportunities-p_mb col-12 col-md-8">
          <p>
            Для обеспечения данного принципа «M.Б.A. Финансы» разработала и внедрила Кодекс корпоративной этики ООО «М.Б.А. Финансы», который подписали и обязаны соблюдать все сотрудники компании.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          </p>
        </div>
        <div class="col-md-4">
          <a href="#" class="b b_w_265 b_pdf">кодекс этики</a>
        </div>
      </div>
    </div>
  </section>