<footer class="footer">
  <div class="container">
    <ul class="navbar-nav bd-navbar-nav flex-row justify-content-between">
      <li class="nav-item">
        <a class="nav-link d-inline-block" href="/who-we-are">Who we are</a>
        <ul>
          <li><a href="/">What we do</a></li>
          <li><a href="/">Our story</a></li>
          <li><a href="/">Our thinking</a></li>
          <li><a href="/">Our team</a></li>
          <li><a href="/">News</a></li>
          <li><a href="/">Our world</a></li>
          <li><a href="/">Events</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link d-inline-block" href="/clients">Clients</a>
        <ul>
          <li><a href="/">What we do</a></li>
          <li><a href="/">Our story</a></li>
          <li><a href="/">Our thinking</a></li>
          <li><a href="/">Our team</a></li>
          <li><a href="/">News</a></li>
          <li><a href="/">Our world</a></li>
          <li><a href="/">Events</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link d-inline-block" href="/investors">Investors</a>
        <ul>
          <li><a href="/">What we do</a></li>
          <li><a href="/">Our story</a></li>
          <li><a href="/">Our thinking</a></li>
          <li><a href="/">Our team</a></li>
          <li><a href="/">News</a></li>
          <li><a href="/">Our world</a></li>
          <li><a href="/">Events</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link d-inline-block" href="/debtors">Debtors</a>
        <ul>
          <li><a href="/">What we do</a></li>
          <li><a href="/">Our story</a></li>
          <li><a href="/">Our thinking</a></li>
          <li><a href="/">Our team</a></li>
          <li><a href="/">News</a></li>
          <li><a href="/">Our world</a></li>
          <li><a href="/">Events</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link d-inline-block" href="/contact">Contact</a>
        <ul>
          <li><a href="/">What we do</a></li>
          <li><a href="/">Our story</a></li>
          <li><a href="/">Our thinking</a></li>
          <li><a href="/">Our team</a></li>
          <li><a href="/">News</a></li>
          <li><a href="/">Our world</a></li>
          <li><a href="/">Events</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link d-inline-block" href="/mass-media">Mass media</a>
        <ul>
          <li><a href="/">What we do</a></li>
          <li><a href="/">Our story</a></li>
          <li><a href="/">Our thinking</a></li>
          <li><a href="/">Our team</a></li>
          <li><a href="/">News</a></li>
          <li><a href="/">Our world</a></li>
          <li><a href="/">Events</a></li>
        </ul>
      </li>
    </ul>
    <div class="row copy justify-content-between">
      <div class="col-sm-6">© Copyright 2018 MBA Consult. All rights reserved.</div>
      <div class="col-sm-6 text-right">created by Osom agency</div>
    </div>
  </div>
</footer>