<header class="header">
  <div class="header__container">
    <div class="header__row">
      <a href="/" class="header__logo"><img src="img/logo.png" alt="MBA Consult"></a>
      <nav class="nav">
        <div class="nav__i">
          <ul class="nav__a-l">
            <li>
              <a href="">Discover</a>
            </li>
            <li>
              <a href="">Our world</a>
            </li>
            <li>
              <a href="">Mass media</a>
            </li>
            <li>
              <a href="">News</a>
            </li>
            <li>
              <a href="">Join us</a>
            </li>
          </ul>
          <ul class="nav__m-l">
              <li>
                <a href="" >WHO we are</a>
                <ul class="sub-menu">
                  <li><a href="">What we do</a></li>
                  <li><a href="">OUR story</a></li>
                  <li><a href="">Our thinking</a></li>
                  <li><a href="">Our team</a></li>
                  <li><a href="">News</a></li>
                  <li><a href="">Our world</a></li>
                  <li><a href="">Events</a></li>
                </ul>
              </li>
              <li>
                <a href="" >Clients</a>
                <ul class="sub-menu">
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                </ul>
              </li>
              <li>
                <a href="" >Investors</a>
                <ul class="sub-menu">
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                </ul>
              </li>
              <li>
                <a href="" >Debtors</a>
                <ul class="sub-menu">
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                </ul>
              </li>
              <li>
                <a href="" >Contacts</a>
                <ul class="sub-menu">
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                </ul>
              </li>
          </ul>
        </div>
      </nav>
      <div class="lang">
        <div href="" class="lang__visible">
          <a href="/">ru</a>
        </div>
        <div class="lang__hidden">
          <a href="/">en</a>
        </div>
      </div>
    </div>
  </div>
</header>