<header class="header">
  <div class="header__container">
    <div class="header__row">
      <a href="/" class="header__logo"><img src="img/logo.png" alt="MBA Consult"></a>
      <nav class="nav">
        <ul class="nav__l">
          <li class="nav__i1">
            <a href="">Discover</a>
            <a href="">Our world</a>
            <a href="">Mass media</a>
            <a href="">News</a>
            <a href="">Join us</a>
          </li>
          <li class="nav__i2">
            <ul class="nav__sub-l">
              <li>
                <a href="" >WHO we are</a>
                <ul class="nav__sub-h">
                  <li><a href="">What we do</a></li>
                  <li><a href="">OUR story</a></li>
                  <li><a href="">Our thinking</a></li>
                  <li><a href="">Our team</a></li>
                  <li><a href="">News</a></li>
                  <li><a href="">Our world</a></li>
                  <li><a href="">Events</a></li>
                </ul>
              </li>
              <li>
                <a href="" >Clients</a>
                <ul class="nav__sub-h">
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                </ul>
              </li>
              <li>
                <a href="" >Investors</a>
                <ul class="nav__sub-h">
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                </ul>
              </li>
              <li>
                <a href="" >Debtors</a>
                <ul class="nav__sub-h">
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                </ul>
              </li>
              <li>
                <a href="" >Contacts</a>
                <ul class="nav__sub-h">
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="lang">
        <div href="" class="lang__visible">
          <a href="/">ru</a>
        </div>
        <div class="lang__hidden">
          <a href="/">en</a>
        </div>
      </div>
    </div>
  </div>
</header>