<header class="navbar">
  <a class="logo" href="/" title="MBA Consult">
    <img src="img/logo.png" alt="MBA Consult" title="MBA Consult">
  </a>
  <div>
    <div id="menu" class="d-inline-block align-top">
      <ul class="addit-menu navbar-nav flex-row justify-content-end"><li class="nav-item"><a class="nav-link d-inline-block" href="/discover">Discover</a></li><li class="nav-item"><a class="nav-link d-inline-block" href="/our-world">Our world</a></li><li class="nav-item"><a class="nav-link d-inline-block" href="/mass-media">Mass media</a></li><li class="nav-item"><a class="nav-link d-inline-block" href="/news">News</a></li><li class="nav-item"><a class="nav-link d-inline-block" href="/join-us">Join us</a></li></ul>
      <ul class="main-menu navbar-nav flex-row justify-content-between"><li class="nav-item"><a class="nav-link d-inline-block" href="/who-we-are">Who we are</a></li><li class="nav-item"><a class="nav-link d-inline-block" href="/clients">Clients</a></li><li class="nav-item"><a class="nav-link d-inline-block" href="/investors">Investors</a></li><li class="nav-item"><a class="nav-link d-inline-block" href="/debtors">Debtors</a></li><li class="nav-item"><a class="nav-link d-inline-block" href="/contact">Contact</a></li></ul>
    </div>
    <div class="d-inline-block align-top">
      <div id="langbar" class="dropdown">
        <a role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="http://test4.businessup.com.ua/" rel="follow">RU</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="http://test4.businessup.com.ua/en/" rel="follow">EN</a>
        </div>
      </div>
    </div>
  </div>
</header>