<section class="interactions interactions_b">
    <div class="container1170">
      <div class="row no-gutters">
        <div class="h2-w h2_s-interactions_mb col-6 col-sm-6">
          <h2>Схемы взаимодействия</h2>
        </div>
        <div class="col-md-12 col-lg-8">
          <div class="text-block h3-w h3_line-p h3_s-interactions_mb t18-30-w t18-30_s-interactions_mb ul670 ul18-30-w">
            <h3>Агентская</h3>
            <p>Классическая модель сотрудничества: портфель просрочки передаётся нам  на аутсорсинг по агентской схеме за процентное вознаграждение.</p>
            <p><strong>Мы вместе с вами анализируем текущую ситуацию</strong></p>
            <ul>
              <li>Используя консолидированный опыт и экспертизу,<br> мы даём рекомендации.</li>
              <li>Обговариваем условия работы, заключаем договор.</li>
              <li>Вы получаете свои деньги быстрее и больше,<br>чем при любом другом другом варианте размещения портфеля.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="img-block img-w350 text-right">
            <img src="img/img1.jpg" alt="team">
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="img-block img-w350">
            <img src="img/img2.jpg" alt="team">
          </div>
        </div>
        <div class="col-md-12 col-lg-8">
          <div class="text-block h3-w h3_line-p h3_s-interactions_mb t18-30-w t18-30_s-interactions_mb ul670 ul670_s-interactions_mb ul18-30-w">
            <h3>Портфельная</h3>
            <p>Мы организуем покупку вашего долгового портфеля.
                Вы получаете средства сразу после заключения договора.
                Вы решаете проблемы с должниками всего за один день, списывая задолженность и очищая свой баланс. </p>
            <p><strong>Мы вместе с вами анализируем текущую ситуацию</strong></p>
            <ul>
              <li>Используя консолидированный опыт и экспертизу,<br> мы даём рекомендации.</li>
              <li>Обговариваем условия работы, заключаем договор.</li>
              <li>Вы получаете свои деньги быстрее и больше,<br>чем при любом другом другом варианте размещения портфеля.</li>
            </ul>
            <p><strong>Теперь это наша забота. Ваши риски сведены к нулю.</strong></p>
          </div>
        </div>

      </div>
    </div>
  </section>