<section class="interactions">
  <div class="container1170">
    <div class="row no-gutters">
      <div class="h2-b h2_s-interactions_mb col-6 col-sm-6">
        <h2>Схемы взаимодействия</h2>
      </div>
      <div class="col-md-12 col-lg-7">
        <div class="text-block h3-b h3_line-p h3_s-interactions_mb t18-30-b t18-30_s-interactions_mb">
          <h3>Агентская</h3>
          <p>Классическая модель сотрудничества: портфель просрочки передаётся нам  на аутсорсинг по агентской схеме за процентное вознаграждение. Вы получаете свои деньги быстрее и больше, чем при любом другом варианте размещения портфеля.</p>
          <a href="#" target"_blank" class="b b_w_221">Подробнее</a>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <div class="img-block img-w350">
          <img src="img/img1.jpg" alt="team">
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
          <div class="img-block img-w350">
            <img src="img/img2.jpg" alt="team">
          </div>
        </div>
      <div class="col-md-12 col-lg-7">
        <div class="text-block h3-b h3_line-p h3_s-interactions_mb t18-30-b t18-30_s-interactions_mb">
          <h3>Портфельная</h3>
          <p>Мы организуем покупку вашего долгового портфеля. Вы получаете средства сразу после заключения договора. Вы решаете проблемы с должниками всего за один день, списывая задолженность и очищая свой баланс.</p>
          <a href="#" target"_blank" class="b b_w_221">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>