<section class="opportunities">
  <div class="container1170">
    <div class="row no-gutters">
			<ul class="nav col-12">
				<li class="nav__item"><a href="#" class="nav__breadcrumb">Home</a></li>
				<li class="nav__item"><a href="#" class="nav__breadcrumb">Clients</a></li>
      </ul>
      <div class="h1-b h1_s-opportunities_mb t14-30-b t14-30_s-opportunities-p_mb col-md-7 col-12">
        <h1>Opportunities</h1>
        <p>
          Компания MBA Consult предлагает здесь и сейчас решить ваши проблемы с возвратом денег. Мы знаем, как это сделать быстро, без жалоб и претензий со стороны должников, а также с безусловной гарантией максимального результата и кропотливым  соблюдением нюансов законодательства в каждой стране.
        </p>
        <p>
          Мы работаем на всех ключевых рынках мира. Среди наших клиентов – крупнейшие представители банковской, микрофинансовой и телекоммуникационной отраслей.
        </p>
        <p>
          Мы долгие годы превосходим ожидания наших клиентов и по праву возглавляем рейтинги эффективности на всех ключевых рынках мира. Всего один звонок отделяет вас от начала работы с нами. Сделайте его прямо сейчас!
        </p>
      </div>
    </div>
  </div>
</section>