<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NAME</title>
	<meta property="og:locale" content="ru_RU">
	<meta property="og:type" content="website">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:url" content="#">
	<meta property="og:site_name" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/png" href="favicon_16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="favicon_32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="favicon_96x96.png" sizes="96x96">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  //= rawhtml/header.html
  <div id="fullpage">
    <div class="section mba w">
      <video class="video" loop muted data-autoplay>
        <source src="video/vid.mp4">
      </video>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="t-b">
              <h1>Mba Consult</h1>
              <p>эволюция финансовой системы мира</p>
            </div>
          </div>
        </div>
      </div>
      <a href="" class="b459">Подробнее</a>
    </div>
    <div class="section clients w">
      <div class="container">
        <div class="row">
          <div class="col1">
            <div class="t-b">
              <h2>Клиентам</h2>
              <p>Возвращаем деньги и должников по агентской схеме. Покупаем долговые портфели. Интегрируем IT-продукты и решения нового поколения.</p>
            </div>
            <a href="#" target="_blank" class="b w">Подробнее</a>
          </div>
          <div class="col2">
            <div class="img-cont">
              <div class="img-cont__item">
                <img src="img/img1.jpg" alt="Team">
              </div>
              <div class="img-cont__item">
                <img src="img/img2.jpg" alt="Team">
              </div>
              <div class="img-cont__item">
                <img src="img/img3.jpg" alt="Debtors">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section values w">
      <div class="container">
        <div class="row">
          <div class="title-bg">Ценности</div>
          <div class="col">
            <h2>Human</h2>
            <p>За каждым долгом, сотрудником или партнёром мы видим в первую очередь человека. Человека в его стремлении быть счастливым.</p>
          </div>
          <div class="col">
            <h2>Innovation</h2>
            <p>Каждый день мы работаем над новыми технологиями, способными уже завтра перевернуть представления людей об этом мире. Мы интегрируем собственные уникальные решения и используем лучший мировой опыт для достижения непревзойдённых  результатов для всех наших партнёров.</p>
          </div>
          <div class="col">
            <h2>Эффективность</h2>
            <p>Способность показывать лучшие результаты в кратчайшие сроки - наше историческое преимущество на рынке. Высочайшая эффективность работы позволяет нам долгие годы работать с крупнейшими клиентами и инвесторами мира, расширяет наш горизонт планирования на многие десятилетия.</p>
          </div>
          <div class="col">
            <h2>Trust</h2>
            <p>Выстраивание открытых и доверительных отношений с нашими клиентами, сотрудниками, инвесторами и должниками - важнейший элемент не только нашей философии, но и один из ключевых элементов финансового успеха всей компании.</p>
          </div>
        </div>
      </div>
      <a href="" class="b459">Наша Философия</a>
    </div>
    <div class="section hands w">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="t-b">
              <p>Мы стираем границы между городами, странами и континентами. Объединяем людей и идеи для решения глобальных задач нашего поколения.
                  Именно в продвижении стратегии глобальной синергии мы видим наш вклад в процесс эволюции финансовой системы мира.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section news w">
      <div class="container">
        <div class="row">
          <div class="news__c1">
            <div class="news__item">
              <div class="news__img-c">
                <img src="img/img1.png" alt="Sign">
                <div class="t-i">
                  <a href="" class="b114">Прес-релиз</a>
                  <h5>ООО "М.Б.А. Финансы" получила рекомендации от ООО МФК "МаниМен".</h5>
                </div>
              </div>
              <div class="t-b">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
                <time>17.06.2018</time>
              </div>
            </div>
          </div>
          <div class="news__c2">
            <div class="news__item">
              <div class="news__img-c">
                <img src="img/img2.png" alt="Sign">
              </div>
              <div class="t-b">
                <a href="" class="b114">Прес-релиз</a>
                <h5>ООО "М.Б.А. Финансы" получила рекомендации от ООО МФК "МаниМен".</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                <time>17.06.2018</time>
              </div>
            </div>
            <div class="news__item">
              <div class="news__img-c">
                <img src="img/img3.png" alt="Sign">
              </div>
              <div class="t-b">
                <a href="" class="b114">Прес-релиз</a>
                <h5>ООО "М.Б.А. Финансы" получила рекомендации от ООО МФК "МаниМен".</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                <time>17.06.2018</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section geo w">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="t-b">
              <h4>Заголовок</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                  Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>
            </div>
          </div>
        </div>
      </div>
      <a href="" class="b459">Смотреть все страны</a>
    </div>
  </div>

	<script src="js/libs.min.js"></script>
</body>
</html>
